.main-section {
    width: 100vw;
    height: 435px;
    background: url('../../dist/images/park.jpg');
    background-repeat: no-repeat;
    background-size: 100% 160%;
    display: flex;
    justify-content: center;
}
  
.main-dog-wrapper {
    width: 328px;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translate(-50px);
    .main-header {
      font-size: 28px;
      font-family: var(--main-font);
      margin-bottom: 0px;
    }
}
  
.dog-box{
      width: 133px;
      height: 32px;
      border: 3px solid var(--main-accent-color) ;
      background-color: white;
      color: var(--main-accent-color) ;
      font-family: var(--main-font);
      text-align: center;
      line-height: 1.5;
      font-size: 18px;
      font-weight: bold;
}
  
.dog-circle {
    height: 265px;
    width: 265px;
    border: 3px solid var(--main-accent-color) ;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
}
  